* {
  font-family: muli, sans-serif;
  margin: 0;
  padding: 0;
}
.w-main{
  padding-bottom: 4em;
}
.w-poster {
  background-image: url("../../Photo/w-poster.jpg");
  height: 90vh;
  background-repeat: no-repeat;
}

.w_flex1 {
  width: 65%;
}

.w-table {
  font-size: 13px;
  width: 100%;
}

.w-title {
  font-weight: 600;
}

.w-row {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #999999;
}

.w_flex1r {
  font-size: 13px;
  font-weight: 600;
  text-align: right;
}

.w-description {
  width: 63%;
  margin: auto;
  font-size: 13px;
}

.w-woman {
  width: 90%;
  text-align: center;
  margin: auto;
}

.w-mr {
  margin-right: 4em;
}

.w-hr {
  margin-top: -3em;
  background-color: #999999;
}

.w-ul {
  list-style-position: outside;
}

.w-grid {
  display: grid;
  width: 63%;
  margin: auto;
  grid-template-areas:
    "A B C"
    "D E F";
  gap: 1.2em;
}

.w-g1 {
  grid-area: A;
}

.w-g2 {
  grid-area: B;
}

.w-g3 {
  grid-area: C;
}

.w-g4 {
  grid-area: D;
}

.w-g5 {
  grid-area: E;
}

.w-g6 {
  grid-area: F;
}

@media only screen and (max-width: 992px) {
  .w-poster {
    height: 55vh;
    background-size: cover;
  }

  .w_flex1 {
    width: 90%;
  }

  .w-description {
    width: 90%;
  }

  .w-grid {
    width: 90%;
    grid-template-areas:
      "A B"
      "C D"
      "E F";
    gap: 1.2em;
  }
}

@media only screen and (max-width: 768px) {
  .w_flex1r {
    text-align: left;
    border-bottom: 1px solid #999999;
  }

  .w-grid {
    width: 90%;
    grid-template-areas:
      "A"
      "B"
      "C"
      "D"
      "E"
      "F";
    gap: 1.2em;
  }
}

@media only screen and (max-width: 600px) {
  .w-poster {
    height: 30vh;
    background-size: cover;
  }
}
