.sortBar {
    display: flex;
    margin: 20px;
    border-bottom: 1px solid black;
    
}

.sortButton {
    padding: 0;
    background-color: transparent;
    margin: 0;
    font-size: 14px;
    border:0;
    margin-right: 10px;
    padding-bottom: 10px;
}

.sortButton:hover {
    color: #ffbf00;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}

