.logo {
    height: 40px;
    width: 110px;
    margin-left: -20px;
    background-color: red;
}

.rbx {
    height: 30px;
    width: 50px;
    margin-left: 70px;
} 

.btnw {
    background-color: white;
    color: black;
    border: 0;
}

.yellow:hover {
    background-color: #FED250;
    border-color: #FED250;
}

@media screen and (min-device-width: 0px) and (max-device-width: 1100px) { 
    
    .responseNav {
        display:none;
    }


}