* {
  margin: 0;
  padding: 0;
}
.f-main {
  padding-bottom: 4em;
}
.poster {
  height: 332px;
  background-image: linear-gradient(rgba(31,31,31,0.6), rgba(0,0,0,0.6)),url(../../Photo/poster.jpg);
  background-size: cover;
  width: 100%;
}

.own {
  background-color: #1e1d17;
  opacity: 0.95;
  padding: 9px;
  text-align: center;
  color: white;
  font-family: muli, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0px;
}
.underline {
  height: 6px;
  width: 8.5%;
  margin: -2px auto 90px auto;
  background-color: #fed250;
}
.partner {
  font-family: muli, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 37px;
  color: white;
  margin-bottom: 0px;
}
.mg {
  margin-top: -60px;
}
.apply {
  background: linear-gradient(
    90deg,
    rgba(243, 182, 0, 1) 0%,
    rgba(255, 227, 144, 1) 100%
  );
  padding: 16px 40px;
  font-size: 18px;
  font-family: muli, sans-serif;
  font-weight: 600;
  font-style: normal;
  border: none;
  border-radius: 8px;
  width: 50%;
  margin-top: 1em;
}
.apply-2 {
  background: linear-gradient(
    90deg,
    rgba(243, 182, 0, 1) 0%,
    rgba(255, 227, 144, 1) 100%
  );
  padding: 16px 40px;
  font-size: 18px;
  font-family: muli, sans-serif;
  font-weight: 600;
  font-style: normal;
  border: none;
  border-radius: 8px;
  width: 100%;
}
.under_line2 {
  height: 6px;
  width: 8%;
  margin: -3px auto 40px auto;
  background-color: #fed250;
}
.apply-2-wrapper {
  width: 30%;
  margin: 1em auto;
}
.flex-1 {
  display: flex;
  width: 510px;
  margin-left: 7em;
  flex-direction: column;
  margin-top: 4em;
}
.what {
  text-align: center;
  font-size: 33px;
  font-family: muli, sans-serif;
  margin-top: 2em;
  font-weight: 600;
}
.brand {
  text-align: right;
}
.brand-2 {
  text-align: left;
}
.img img {
  width: 400px;
}
.curser {
  cursor: pointer;
}
.flex-2 {
  width: 83%;
  margin: 5em auto;
}
.flex2-child {
  width: 330px;
  height: 250px;
  border-radius: 8px;
}
.flex2-img {
  width: 100%;
  border-radius: 8px;
  height: 100%;
}
.flex-3 {
  display: flex;
  width: 65%;
  height: 250px;
  margin: auto;
  justify-content: space-between;
}
.flex-31 {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 31%;
  border-radius: 8px;
  border: 2px solid whitesmoke;
  font-weight: 600;
}
.flex-3-img {
  width: 70%;
}
@media only screen and (max-width: 1100px) {
  .img img {
    width: 370px;
  }
}
@media only screen and (max-width: 1023px) {
  .what {
    margin-top: 1em;
  }
}
@media only screen and (max-width: 992px) {
  .order div:first-child {
    order: 2;
  }
  .order div:nth-child(2) {
    order: 1;
  }
  .brand {
    text-align: center;
  }
  .brand-2 {
    text-align: center;
  }
  .img {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 700px) {
  .flex-1 {
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: 100%;
    margin-left: 0;
  }
  .apply {
    width: 50%;
  }
  .apply-2-wrapper {
    width: 90%;
    margin: 2em auto;
  }
}
@media only screen and (max-width: 600px) {
  .apply {
    width: 40%;
    padding: 15px 35px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 520px) {
  .apply {
    width: 40%;
    padding: 15px 30px;
    font-size: 14px;
  }
  .partner {
    font-size: 25px;
  }
}
